.bike {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75vw;
  background-color: #f5f5f5;
  padding: 20px;
  margin-left: 16rem;
}

.bike__container {
  display: grid;
  grid-template-columns: 6fr 4fr;
  column-gap: 2rem;
}

.bike__details {
  display: flex;
  flex-direction: row;
  gap: 15%;
  padding: 10px;
}

.desc {
  display: flex;
  flex-direction: row;
  gap: 30%;
  padding: 10px;
}

.desc h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 400;
  color: #000;
}

.bike__details p {
  font-size: 1.2em;
  font-weight: 400;
  width: 20%;
  color: #000;
}

.bike__details button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 400;
  cursor: pointer;
  height: 25%;
}

.delete:hover {
  background-color: #f00;
  color: #fff;
}

.link {
  text-decoration: none;
}

.imagebike {
  width: 50%;
}

.addbike {
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 20px;
}

button:hover {
  background-color: #000;
  color: #fff;
}


.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
}
