ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.text-primary {
  color: #97bf0f !important;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
