.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: fixed;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.link {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.divider {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.social {
    margin-top: 25rem;
}