.homepage {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 75vw;
}
