.main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
